/* Importing base styles */
@import url("./styles/base/_reset.css");
@import url("./styles/base/_variables.css");
@import url("/styles/base/_typography.css");

/* Importing layout styles */
@import url("./styles/layout/_app-container.css");
@import url("./styles/layout/_header.css");
@import url("./styles/layout/_footer.css");
@import url("./styles/layout/_main.css");

/* Importing component styles */
@import url("./styles/components/_switch.css");

/* Global Theme Styles */
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (min-width: 769px) {
  body {
    max-width: 90rem;
    margin: 0 auto;
  }
}
