@font-face {
  font-family: "Noto Sans";
  src: url("../../assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
}
